@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

/* importando otros archivos css */
@import url('/css/sections/header.css');
@import url('/css/sections/hero.css');
@import url('/css/sections/section.css');
@import url('/css/sections/menu.css');
@import url('/css/sections/about.css');
@import url('/css/sections/moreInformation.css');
@import url('/css/sections/customers.css');

:root {
  --playfair-display: 'Playfair Display', serif;
  --clicker-display: 'Clicker Script', cursive;

  --primary-color: #f9c06a;
  --title-color: #603809;
  --text-color: #1e1e1e;
  --paragraph-color: #707070;

  --background-color: #ebebeb;
  --background-section: #fffefc;
}

/* formateo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--background-color);
  font-family: var(--playfair-display);
}

a {
  text-decoration: none;
  color: inherit;
}

.container__background {
  position: relative;
  width: 100%;
  height: auto; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

/* Clases para reutilizar */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
