.about-us {
  display: flex;
  flex-direction: column;
  gap: 32px;

  background-color: var(--background-section);
  padding: 64px;
}

.about-us h4 {
  color: var(--title-color);
  font-size: 54px;
  text-align: center;
}
.about-us p {
  color: var(--text-color);
  font-size: 20px;
  text-align: center;
  opacity: 0.8;
}

.about-us h6 {
  color: var(--title-color);
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
.about-us__container-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.about-us__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  width: 280px;
  height: 284px;
  padding: 24px;
  background-color: #fff9f1;

  border: 2px solid #fce1b8;
}

.about-us__card:hover {
  background-color: #fce1b8;
}

.about-us__card h6 {
  font-size: 28px;
}

.about-us__card p {
  font-size: 20px;
}
