.footer {
  background: rgb(83, 47, 5);
  background: linear-gradient(
    180deg,
    rgba(83, 47, 5, 1) 7%,
    rgba(111, 61, 4, 1) 48%,
    rgba(144, 80, 6, 1) 100%
  );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  padding: 64px;
}

.footer-left {
  flex: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.footer-left h4 {
  padding-left: 30px;
  font-weight: normal;
  text-align: left;
  font-size: 35px;
  font-family: var(--clicker-display);
}
.footer-left p {
  font-size: 14px;
  font-weight: 100;
}

.footer-title {
  font-size: 26px;
  font-weight: 700;
}

.footer-left__linkredes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.footer-about {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  font-size: 18px;
  font-weight: 100;
  margin: 15px;
}
.footer-company {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.footer-contactus {
  flex: 1.22;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.container-footer__images {
  position: relative;
}

.images_footer {
  background-image: url('/assets/caffe-bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
