.more-information {
  position: relative;
  background-image: url('/assets/taza-cafe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* box-sizing: border-box; */
  min-height: 574px;

  padding: 64px;
  z-index: 1;

  color: #fff;
}

.more-information .overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(77, 45, 7, 0.8);
}

.more-information h4 {
  font-weight: 700;
  font-size: 54px;
}

.more-information p {
  font-size: 20px;
}

.more-information button {
  font-size: 16px;
  padding: 15px;
  width: fit-content;
  border-radius: 36px;
  min-width: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--title-color);
  cursor: pointer;
}

.more-information__content {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.more-information__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;
}
.more-information__images {
  display: flex;
  position: absolute;
  margin-left: 559px;
  bottom: 575px;
}
